<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sugar UI | Build Responsive Sites</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="../../docs//docs.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar__logo" href="../../index.html">Sugar UI</a>
      <ul class="navbar__list">
        <li><a href="../../docs/index.html">Docs</a></li>
        <li>
          <a target="__blank" href="https://github.com/shaksham08/Sugar-UI"
            ><i class="ri-github-fill"></i
          ></a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <div class="sidebar">
        <a href="../../docs/index.html">Getting Started</a>
        <a href="../../docs/index.html">Components</a>
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a class="active" href="#">Avatars</a>
            <a href="../alerts/index.html">Alerts</a>
            <a href="../button/index.html">Buttons</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="component">
          <h1 class="component__header">Image Avatars</h1>
          <p class="component__info">
            The avatar component is a profile image often used in combo with
            additional elements (e.g., a status element) to provide additional
            info about a user.
          </p>
          <div class="avatar__content">
            <img
              class="avatar avatar--xsm"
              src="../../assets/avatarimg.jpg"
              alt="avatar-image"
            />

            <img
              class="avatar avatar--sm"
              src="../../assets/avatarimg.jpg"
              alt="avatar-image"
            />

            <img
              class="avatar avatar--md"
              src="../../assets/avatarimg.jpg"
              alt="avatar-image"
            />

            <img
              class="avatar avatar--lg"
              src="../../assets/avatarimg.jpg"
              alt="avatar-image"
            />

            <img
              class="avatar avatar--xlg"
              src="../../assets/avatarimg.jpg"
              alt="avatar-image"
            />
          </div>
          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/6202b3cc234b8a0015700bd6"
              style="width: 100%; height: 20.3rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="component">
          <h1 class="component__header">Text Avatars</h1>
          <p class="component__info">
            The avatar component can also be used with text. Extra color class
            is added to give background and text color styling which is
            temporary.
          </p>
          <div class="avatar__content">
            <div class="avatar avatar__text--xsm color">A</div>
            <div class="avatar avatar__text--sm color">B</div>
            <div class="avatar avatar__text--md color">C</div>
            <div class="avatar avatar__text--lg color">D</div>
            <div class="avatar avatar__text--xlg color">E</div>
          </div>

          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/6202b529234b8a0015700bda"
              style="width: 100%; height: 15.1rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
