.avatar__content {
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 1px solid var(--gray-light2);
  padding: 2rem;
  margin-top: 2rem;
}

.avatar {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  text-align: center;
}

.avatar--xsm {
  height: 3.5rem;
  width: 3.5rem;
}

.avatar--sm {
  height: 5rem;
  width: 5rem;
}

.avatar--md {
  height: 8rem;
  width: 8rem;
}

.avatar--lg {
  height: 10rem;
  width: 10rem;
}

.avatar--xlg {
  height: 12rem;
  width: 12rem;
}

.avatar__text--xsm,
.avatar__text--sm,
.avatar__text--md,
.avatar__text--lg,
.avatar__text--xlg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__text--xsm {
  font-size: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
}

.avatar__text--sm {
  font-size: 2.5rem;
  height: 5rem;
  width: 5rem;
}

.avatar__text--md {
  font-size: 3.5rem;
  height: 8rem;
  width: 8rem;
}

.avatar__text--lg {
  font-size: 4rem;
  height: 10rem;
  width: 10rem;
}

.avatar__text--xlg {
  font-size: 6rem;
  height: 12rem;
  width: 12rem;
}

.color {
  background-color: var(--brown1);
  color: var(--gray-light2);
}
