<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sugar UI | Build Responsive Sites</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../docs/docs.css" />
    <link rel="stylesheet" href="../component.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar__logo" href="../../index.html">Sugar UI</a>
      <ul class="navbar__list">
        <li><a href="../../docs/index.html">Docs</a></li>
        <li>
          <a target="__blank" href="https://github.com/shaksham08/Sugar-UI"
            ><i class="ri-github-fill"></i
          ></a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <div class="sidebar">
        <a href="../../docs/index.html">Getting Started</a>
        <a href="../../docs/index.html">Components</a>
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="../avatars/index.html">Avatars</a>
            <a href="../alerts/index.html">Alerts</a>
            <a class="active" href="#">Badges</a>
            <a href="../button/index.html">Buttons</a>
            <a href="../cards/index.html">Cards</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="component">
          <h1 class="component__header">Avatar Badge</h1>
          <p class="component__info">
            A badge indicates a status information from the system.
          </p>
          <div class="badge__content">
            <div class="badge__container">
              <img
                class="avatar avatar--xsm"
                src="../../assets/avatarimg.jpg"
                alt="avatar-image"
              />
              <span class="badge__avatar badge__avatar--xsm"></span>
            </div>

            <div class="badge__container">
              <img
                class="avatar avatar--sm"
                src="../../assets/avatarimg.jpg"
                alt="avatar-image"
              />
              <span class="badge__avatar badge__avatar--sm"></span>
            </div>

            <div class="badge__container">
              <img
                class="avatar avatar--md"
                src="../../assets/avatarimg.jpg"
                alt="avatar-image"
              />
              <span class="badge__avatar badge__avatar--md"></span>
            </div>

            <div class="badge__container">
              <img
                class="avatar avatar--lg"
                src="../../assets/avatarimg.jpg"
                alt="avatar-image"
              />
              <span class="badge__avatar badge__avatar--lg"></span>
            </div>

            <div class="badge__container">
              <img
                class="avatar avatar--xlg"
                src="../../assets/avatarimg.jpg"
                alt="avatar-image"
              />
              <span class="badge__avatar badge__avatar--xlg"></span>
            </div>
          </div>
          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/62042370c6efb50015062dbf"
              style="width: 100%; height: 39.8rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="component">
          <h1 class="component__header">Icon Badge</h1>
          <p class="component__info">
            A badge indicates a status information from the system.
          </p>
          <div class="badge__content">
            <span class="badge__container">
              <i class="icon ri-facebook-circle-fill"></i>
              <span class="badge badge__icon">20</span>
            </span>

            <span class="badge__container">
              <i class="icon ri-twitter-line"></i>
              <span class="badge badge__icon">20</span>
            </span>

            <span class="badge__container">
              <i class="icon ri-twitch-line"></i>
              <span class="badge badge__icon">20</span>
            </span>

            <span class="badge__container">
              <i class="icon ri-chat-history-fill"></i>
              <span class="badge badge__icon">20</span>
            </span>

            <span class="badge__container">
              <i class="icon ri-wechat-line"></i>
              <span class="badge badge__icon">20</span>
            </span>
          </div>
          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/62042acbc6efb50015062dcf"
              style="width: 100%; height: 39.8rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
