.badge__content {
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 1px solid var(--gray-light-secondary);
  padding: 2rem;
  margin-top: 2rem;
}

.badge__container {
  position: relative;
}

.badge__avatar {
  position: absolute;
  border-radius: 50%;
}

.badge__avatar--xsm {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--red-dark);
  bottom: 4px;
  right: 4px;
  border: 1px solid var(--white);
}

.badge__avatar--sm {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--green-dark);
  bottom: 5px;
  right: 5px;
  border: 1px solid var(--white);
}

.badge__avatar--md {
  width: 1rem;
  height: 1rem;
  background-color: var(--dark-blue);
  bottom: 8px;
  right: 8px;
  border: 1.5px solid var(--white);
}

.badge__avatar--lg {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--yellow-dark-primary);
  bottom: 11px;
  right: 11px;
  border: 2px solid var(--white);
}

.badge__avatar--xlg {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--pink-light);
  bottom: 12px;
  right: 12px;
  border: 2px solid var(--white);
}

.icon {
  font-size: 5rem;
}

.badge {
  border-radius: 50%;
  background-color: var(--pink-light);
}

.badge__icon {
  background-color: var(--pink-light);
  border-radius: 50%;
  position: absolute;
  font-size: 0.8rem;
  padding: 0.3rem;
  color: var(--black-primary);
  top: -3px;
  right: -4px;
}
