<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sugar UI | Build Responsive Sites</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../docs/docs.css" />
    <link rel="stylesheet" href="../component.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar__logo" href="../../index.html">Sugar UI</a>
      <ul class="navbar__list">
        <li><a href="../../docs/index.html">Docs</a></li>
        <li>
          <a target="__blank" href="https://github.com/shaksham08/Sugar-UI"
            ><i class="ri-github-fill"></i
          ></a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <div class="sidebar">
        <a href="../../docs/index.html">Getting Started</a>
        <a href="../../docs/index.html">Components</a>
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="../avatars/index.html">Avatars</a>
            <a href="../alerts/index.html">Alerts</a>
            <a href="../badges/index.html">Badges</a>
            <a class="active" href="#">Buttons</a>
            <a href="../cards/index.html">Cards</a>
            <a href="../images/index.html">Images</a>
            <a href="../list/index.html">List</a>
            <a href="../rating/index.html">Rating</a>
            <a href="../typography/index.html">Typography</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="component">
          <h1 class="component__header">Primary Button</h1>
          <p class="component__info">
            CSS buttons refer to styled HTML buttons that developers customize
            to match their website designs.
          </p>
          <div class="button__content">
            <button class="btn btn--primary">Primary</button>
            <button class="btn btn--secondary">Secondary</button>
            <button class="btn btn--success">Success</button>
            <button class="btn btn--danger">Danger</button>
            <button class="btn btn--warning">Warning</button>
            <button class="btn btn--info">Info</button>
          </div>
          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/62055dbfa4f5770015a884d0"
              style="width: 100%; height: 16.4rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="component">
          <h1 class="component__header">Link Button</h1>
          <p class="component__info">
            CSS buttons refer to styled HTML buttons that developers customize
            to match their website designs.
          </p>
          <div class="button__content">
            <a href="#" class="btn btn--primary">Primary</a>
            <a href="#" class="btn btn--secondary">Secondary</a>
            <a href="#" class="btn btn--success">Success</a>
            <a href="#" class="btn btn--danger">Danger</a>
            <a href="#" class="btn btn--warning">Warning</a>
            <a href="#" class="btn btn--info">Info</a>
          </div>

          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/62055d93a4f5770015a884cf"
              style="width: 100%; height: 16.4rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="component">
          <h1 class="component__header">Icon Button</h1>
          <p class="component__info">
            CSS buttons refer to styled HTML buttons that developers customize
            to match their website designs.
          </p>
          <div class="button__content">
            <button class="btn btn--primary">
              <i class="ri-mail-add-line"></i>
            </button>
            <button class="btn btn--secondary">
              <i class="ri-twitch-fill"></i>
            </button>
            <button class="btn btn--success">
              <i class="ri-calendar-check-line"></i>
            </button>
            <button class="btn btn--danger">
              <i class="ri-mail-send-fill"></i>
            </button>
            <button class="btn btn--warning">
              <i class="ri-mail-settings-fill"></i>
            </button>
            <button class="btn btn--info">
              <i class="ri-customer-service-2-fill"></i>
            </button>
          </div>

          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/62055d62a4f5770015a884cd"
              style="width: 100%; height: 32rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="component">
          <h1 class="component__header">Floating Button</h1>
          <p class="component__info">
            A floating action button (FAB) represents the primary action of a
            screen
          </p>
          <div class="button__content">
            <div class="btn--float">
              <i class="ri-mail-add-line"></i>
            </div>
            <div class="btn--float">
              <i class="ri-mail-settings-fill"></i>
            </div>
            <div class="btn--float">
              <i class="ri-mail-send-fill"></i>
            </div>
          </div>

          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/62055d3aa4f5770015a884cc"
              style="width: 100%; height: 20.3rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
