<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sugar UI | Build Responsive Sites</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../docs/docs.css" />
    <link rel="stylesheet" href="../component.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar__logo" href="../../index.html">Sugar UI</a>
      <ul class="navbar__list">
        <li><a href="../../docs/index.html">Docs</a></li>
        <li>
          <a target="__blank" href="https://github.com/shaksham08/Sugar-UI"
            ><i class="ri-github-fill"></i
          ></a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <div class="sidebar">
        <a href="../../docs/index.html">Getting Started</a>
        <a href="../../docs/index.html">Components</a>
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="../alerts/index.html">Avatars</a>
            <a href="../alerts/index.html">Alerts</a>
            <a href="../alerts/index.html">Badges</a>
            <a href="../button/index.html">Buttons</a>
            <a href="../cards/index.html">Cards</a>
            <a href="../images/index.html">Images</a>
            <a href="../modal/index.html">Modal</a>
            <a class="active" href="./index.html">Navbar</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="component">
          <h1 class="component__header">Navbar</h1>
          <p class="component__info">
            A navigation bar needs standard HTML as a base. In our examples we
            will build the navigation bar from a standard HTML list.
          </p>
          <div class="navbar__content">
            <nav class="nav">
              <div><a class="nav__brand" href="#">Navbar</a></div>
              <div class="nav__links">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                </ul>

                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">
                      <span>SignIn</span>
                      <i class="ri-user-line"></i>
                    </a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" aria-current="page" href="#">
                      <span> WishList </span><i class="ri-heart-line"></i>
                    </a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#"
                      ><span>Cart</span>

                      <i class="ri-shopping-cart-2-line"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/62090d50d9ba1100151e6ce0"
              style="width: 100%; height: 51.5rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat eaque nesciunt exercitationem. Labore est ratione unde corporis vitae possimus quam dolor repellat, repellendus magnam dicta facere mollitia quisquam enim ipsam!
 -->
