.toast__content {
  border: 1px solid var(--gray-light-secondary);
  padding: 2rem;
  margin-top: 2rem;
}

.toast {
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 2.2rem;
  max-width: 32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast__success {
  border: 2px solid var(--green-dark-primary);
  background-color: var(--green-light-primary);
  color: var(--green-dark-primary);
}

.toast__error {
  border: 2px solid var(--pink--dark);
  background-color: var(--pink-light);
  color: var(--pink--dark);
}

.toast__close {
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
}
