.rating__content {
  border: 1px solid var(--gray-light-secondary);
  padding: 2rem;
  margin-top: 2rem;
}

.rating__container {
  font-size: 2.2rem;
  color: var(--yellow-light-primary);
}

.rating--disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
