<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sugar UI | Build Responsive Sites</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../docs/docs.css" />
    <link rel="stylesheet" href="../component.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar__logo" href="../../index.html">Sugar UI</a>
      <ul class="navbar__list">
        <li><a href="../../docs/index.html">Docs</a></li>
        <li>
          <a target="__blank" href="https://github.com/shaksham08/Sugar-UI"
            ><i class="ri-github-fill"></i
          ></a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <div class="sidebar">
        <a href="../../docs/index.html">Getting Started</a>
        <a href="../../docs/index.html">Components</a>
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="/components/avatars/index.html">Avatars</a>
            <a href="/components/alerts/index.html">Alerts</a>
            <a href="/components/badges/index.html">Badges</a>
            <a href="/components/button/index.html">Buttons</a>
            <a href="/components/cards/index.html">Cards</a>
            <a href="/components/images/index.html">Images</a>
            <a href="/components/inputs/index.html">Inputs</a>
            <a href="/components/list/index.html">List</a>
            <a class="active" href="/components/modal/index.html">Modal</a>
            <a href="/components/navbar/index.html">Navbar</a>
            <a href="/components/toast/index.html">Toast</a>
            <a href="/components/typography/index.html">Typography</a>
            <a href="/components/rating/index.html">Rating</a>
            <a href="/components/grid/index.html">Grid</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <!-- Responsive Image -->
        <div class="component">
          <h1 class="component__header">Modal</h1>
          <p class="component__info">
            In user interface design for computer applications, a modal window
            is a graphical control element subordinate to an application's main
            window. A modal window creates a mode that disables the main window
            but keeps it visible, with the modal window as a child window in
            front of it.
          </p>
          <div class="modal__content">
            <div class="modal">
              <div class="modal__header">
                <h5 class="modal__title">Modal title</h5>
                <button
                  type="button"
                  class="modal__close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="ri-close-line"></i>
                </button>
              </div>
              <div class="modal__body">
                <p>Modal body text goes here.</p>
              </div>
              <div class="modal__footer">
                <button
                  type="button"
                  class="btn btn--secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn--primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
          <div class="component__code">
            <iframe
              src="https://www.thiscodeworks.com/embed/6208af12d9ba1100151e6c43"
              style="width: 100%; height: 33.3rem"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
