.navbar {
  border-bottom: 1px solid var(--gray3);
}

.main {
  min-height: calc(100vh - 9.6rem);
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 25rem 1fr;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.sidebar {
  height: 100%;
  padding: 2rem 2rem;
  font-size: 2.2rem;
  border-right: 1px solid var(--gray3);
  color: var(--gray4);
  scroll-behavior: smooth;
}

.sidebar li {
  list-style: none;
}

.sidebar a,
.sidebar a:link,
.sidebar a:visited {
  display: block;
  text-decoration: none;
}

.sidebar__item a {
  color: var(--gray4);
}

.sidebar > a,
.sidebar > a:link,
.sidebar > a:visited {
  color: var(--black1);
}

.sidebar > a:nth-child(1) {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray3);
}

.sidebar__list {
  margin-top: 2rem;
  margin-left: 1rem;
}

.sidebar__item {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.active {
  color: var(--black1) !important;
}

.content {
  padding: 2rem 4rem;
}

.component {
  margin-top: 2rem;
}

.component__header {
  font-size: 2.6rem;
  font-weight: 600;
}

.component__code {
  margin-top: 2rem;
}

.component__info {
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--gray5);
  line-height: 1.2;
}
