@import "./theme.css";
@import "./reset.css";

body {
  background-color: var(--gray-light-primary);
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.navbar {
  height: 9.6rem;
  display: flex;
  padding: 0 4.8rem;
  align-items: center;
}

.navbar__logo {
  color: var(--yellow-light-primary);
  font-weight: 600;
  text-decoration: none;
  font-size: 3.2rem;
}

.navbar__list {
  list-style: none;
  margin-left: auto;
  font-weight: 600;
  font-size: 2.2rem;
}

.navbar__list li {
  display: inline-block;
  margin-right: 2.5rem;
}

.navbar__list:nth-child(2) a:link,
.navbar__list:nth-child(2) a:visited {
  text-decoration: none;
  color: var(--black-primary);
}

.navbar__list:nth-child(2) i {
  vertical-align: bottom;
}

.hero {
  width: 70%;
  margin: 18rem auto;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  line-height: 1;
}

.hero h1 span {
  color: var(--yellow-light-primary);
}

.hero__action {
  vertical-align: bottom;
  margin: 0 auto;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}

.hero__action i {
  vertical-align: bottom;
  margin-left: 0.5rem;
}

.hero__btn,
.hero__btn:link,
.hero__btn:visited {
  color: var(--black-primary);
  display: inline-block;
  border-radius: 9px;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  background-color: var(--yellow-light-primary);
}

.hero__btn--github,
.hero__btn--github:visited,
.hero__btn--github:link {
  background-color: var(--gray-light-secondary);
}

.hero__btn--main:visited,
.hero__btn--main:link {
  color: var(--white);
  transition: background-color ease-in-out 0.2s;
}

.hero__btn--main:hover,
.hero__btn--main:active {
  background-color: var(--yellow-dark-primary);
}
