@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

/*colors */
:root {
  /* White */
  --white: #fff;

  /* Gray Shades */
  --gray-light-primary: #f7fafc;
  --gray-light-secondary: #e5e7eb;
  --gray-medium-primary: #767676;
  --gray-dark-primary: #555555;

  /* Yellow */
  --yellow-light-primary: #fca311;
  --yellow-light-secondary: #fff3cd;
  --yellow-dark-primary: #ca820e;

  /* Black */
  --black-primary: #090c02;

  /* Brown */
  --brown-primary: brown;

  /* Blue */
  --skyblue: #cfe2ff;
  --skyblue-light-primary: #cff4fc;
  --skyblue-light-secondary: #0dcaf0;
  --dark-blue-primary: #084298;
  --dark-blue-secondary: #0d6efd;

  /* Teal */
  --teal-light: #d1e7dd;

  /* Green */
  --green-dark-primary: #0f5132;
  --green-dark-secondary: #198754;
  --green-light-primary: #90ee90;

  /* Pink */
  --pink-light: #f8d7da;
  --pink--dark: #aa336a;

  /* Red */
  --red-dark-primary: #842029;
  --red-dark-secondary: #dc3545;
}
