@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap");

/*colors */
:root {
  /* White */
  --white: #fff;

  /* Gray Shades */
  --gray-light-primary: #f7fafc;
  --gray-light-secondary: #e5e7eb;
  --gray-medium-primary: #767676;
  --gray-dark-primary: #555555;

  /* Yellow */
  --yellow-light-primary: #fca311;
  --yellow-light-secondary: #fff3cd;
  --yellow-dark-primary: #ca820e;

  /* Black */
  --black-primary: #090c02;

  /* Brown */
  --brown-primary: brown;

  /* Blue */
  --skyblue: #cfe2ff;
  --skyblue-light: #cff4fc;
  --dark-blue: #084298;

  /* Teal */
  --teal-light: #d1e7dd;

  /* Green */
  --green-dark: #0f5132;

  /* Pink */
  --pink-light: #f8d7da;

  /* Red */
  --red-dark: #842029;
}
